.root {
  height: fit-content;
  padding: 4px;
  background-color: var(--color-neutral-000);
  border: 1px solid;
  border-color: var(--color-neutral-900);
  border-radius: var(--radius-full);
  box-shadow: 1px 2px var(--color-neutral-900);

  .list {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
  }

  .trigger {
    @mixin textP4SemiBold;

    padding: 12.5px 16px;
    cursor: pointer;
    background-color: var(--color-neutral-000);
    border: 1px solid transparent;
    border-radius: var(--radius-full);

    &:hover {
      border: 1px solid;
    }

    &[data-focus-visible] {
      outline: 2px solid;
      outline-color: var(--color-blue-600);
      outline-offset: 2px;
    }

    &[data-active] {
      background-color: var(--color-yellow-500);
      border: 1px solid;
      border-color: var(--color-neutral-900);
    }
  }
}