.root {
  display: grid;
  grid-template:
    "main side" auto
    "mid side" auto
    "footer side" auto
    / minmax(0, 800px) 1fr;
  gap: 32px;

  .main {
    grid-area: main;
    height: 286px;
  }

  .mid {
    grid-area: mid;
  }

  .footer {
    grid-area: footer;
  }

  .side {
    grid-area: side;
  }
}
