.dialogOverlay {
  position: fixed;
  inset: 0;
  background-color: var(--color-neutral-900);
  opacity: 0.7;
}

.dialogContent {
  position: absolute;
  inset: 0;
  top: 80px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 40%;
  height: fit-content;
  padding: 48px 40px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  border-radius: var(--radius-16);
}

.continueButton {
  width: 100%;
}

.closeButton {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}