.root {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .heading {
    @include text-p5;

    color: $color-neutral-000;
  }

  .card_section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 16px;
    padding: 0;

    .card {
      @include text-p6;

      display: flex;
      flex-direction: column;
      row-gap: 14.5px;
      align-items: center;
      width: 100%;
      padding: 16px 10px;
      color: $color-neutral-000;
      background-color: $color-neutral-800;
      border: 1px solid;
      border-color: $color-neutral-600;
      border-radius: $radius-12;

      &_value {
        @include text-p7;

        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      &_img {
        width: 60px;
        height: 60px;
      }
    }
  }
}

.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}

.spinner {
  @include rotate-animation(0.8s);

  width: 30px;
  height: 30px;
}
