.root {
  position: relative;
  padding: 16px 24px;
  color: $color-neutral-000;
  cursor: pointer;
  background-color: $color-blue-500;
  border-radius: $radius-12;

  &:hover {
    background-color: $color-blue-700;
  }

  &:focus {
    outline: 1px solid;
    outline-color: $color-blue-500;
    outline-offset: 1px;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &[data-loading] .text {
    color: transparent;
  }

  .text {
    @include text-p5-medium;

    cursor: inherit;
    user-select: none;
  }

  .spinner {
    @include rotate-animation(0.8s);

    position: absolute;
    inset: 0;
    width: 50%;
    height: 50%;
    margin: auto;
  }
}