.container {
  width: 100%;
}

.textInput {
  @mixin text-p6-regular;

  width: 100%;
  padding: var(--space-200) var(--space-150);
  border: 1px solid;
  border-color: var(--color-neutral-300);
  border-radius: var(--radius-10);

  &:focus {
    outline: none;
    box-shadow:  
      0 0 0 2px #fff, 
      0 0 0 4px #3b82f6;
  }

  &::placeholder {
    font: inherit;
  }
}