.container {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-0075);
  width: auto;
  height: auto;

  .textInput {
    @mixin text-p6-regular;

    width: 100%;
    padding: var(--space-0200) var(--space-0150);
    color: var(--color-neutral-900);
    border: 1px solid;
    border-color: var(--color-neutral-300);
    border-radius: var(--radius-10);

    &:focus {
      outline: 3px solid;
      outline-color: var(--color-blue-600);
      outline-offset: 4px;
    }

    &::placeholder {
      font: inherit;
    }

    &:disabled {
      color: var(--color-neutral-600);
    }

    &[data-invalid] {
      outline: none;
      border-color: var(--color-red-700);
    }
  }
}

.errorTextContainer {
  display: flex;
  flex-direction: row;
  column-gap: .375rem;
  align-items: center;

  & .errorText {
    @mixin text-p9;

    color: var(--color-red-700);
  }
}
