.root {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 24px;
  background-color: $color-neutral-800;
  border-radius: $radius-20;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headingText {
      @include text-p5;

      color: $color-neutral-000;
    }
  }
}