.base {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  width: auto;
  padding: 13.5px 20px;
  cursor: pointer;
  background-color: var(--color-neutral-000);
  border: 2px solid;
  border-radius: var(--radius-full);

  &:hover {
    background-color: var(--color-neutral-100);
  }

  &:focus {
    outline: 2px solid;
    outline-color: var(--color-blue-400);
    outline-offset: 2px;
  }

}
.label {
  @mixin textP4Medium;

  color: var(--color-neutral-900);
  cursor: inherit;
}

.img {
  width: 16px;
  height: 16px;
}