.container {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 13.5px 20px;
  cursor: pointer;
  background-color: var(--color-neutral-000);
  border: 2px solid;
  border-color: var(--color-neutral-900);
  border-radius: var(--radius-full);

  &:hover {
    background-color: var(--color-neutral-100);
  }

  &:focus {
    outline: 2px solid;
    outline-color: var(--color-blue-600);
    outline-offset: 2px;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  & .text {
    @mixin textP4Medium;

    color: var(--color-neutral-900);
    cursor: inherit;
  }

  & .icon {
    width: 16px;
    height: 16px;
    cursor: inherit;

    &[data-inverse] {
      rotate: 180deg;
    }
  }
}