.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-right: 34px;
  padding-left: 24px;
  color: $color-neutral-000;
  background-image: url('@assets/bg-today-large.svg');
  border-radius: $radius-20;

  .top {
    @include text-p4;

    position: relative;
  }

  .bottom {
    @include text-p6;
  }

  .rightSection {
    display: flex;
    column-gap: 20px;
    align-items: center;

    .right {
      @include text-p1;
    }

    .img {
      width: 100px;
      height: 100px;
      margin-bottom: 5px;
    }

  }

}
