:root {
  /* color */
  --color-neutral-900: #21214D;
  --color-neutral-600: #57577B;
  --color-neutral-300: #9393B7;
  --color-neutral-200: #CBCDD0;
  --color-neutral-000: #FFF;
  --color-blue-700: #2A4CD5;
  --color-blue-600: #4865DB;
  --color-blue-200: #C7D3F7;
  --color-blue-100: #E0E6FA;
  --color-red-700: #E60013;
  --color-red-300: #FF9B99;
  --color-indigo-200: #B8B1FF;
  --color-blue-300: #89CAFF;
  --color-green-300: #89E780;
  --color-amber-300: #FFC97C;
  --color-light-gradient: linear-gradient(180deg, #F5F5FF 20.99%, #E0E0FF 100%);

  /* Spacing Scale (8pt grid) */
  --space-0000: 0px;
  --space-0025: 2px;
  --space-0050: 4px;
  --space-0075: 6px;
  --space-0100: 8px;
  --space-0125: 10px;
  --space-0150: 12px;
  --space-0200: 16px;
  --space-0250: 20px;
  --space-0300: 24px;
  --space-0400: 32px;
  --space-0500: 40px;
  --space-0600: 48px;
  --space-0800: 64px;
  --space-1000: 80px;

  /* Typography */
  --weight-extra-light: 200;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;
  --weight-extra-bold: 800;
  --weight-black: 900;

  /* Radi */
  --radius-00: 0px;
  --radius-04: 4px;
  --radius-06: 6px;
  --radius-08: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
}