@utility text-preset-1 {
  font-family: 'DM Sans', system-ui, sans-serif;
  font-size: 4rem;
  line-height: 100%;
  letter-spacing: -1px;

  font-weight: 700;
}

@utility text-preset-1-mobile {
  font-family: 'DM Sans', system-ui, sans-serif;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: -1px;

  font-weight: 700;
}

@utility text-preset-2 {
  font-family: 'DM Sans', system-ui, sans-serif;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: -1px;

  font-weight: 600;
}

@utility text-preset-3 {
  font-family: 'DM Sans', system-ui, sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: -0.6px;

  font-weight: 400;
}

@utility text-preset-4 {
  font-family: 'DM Sans', system-ui, sans-serif;
  font-size: 1rem;
  line-height: 130%;
  letter-spacing: -0.6px;

  font-weight: 400;
}
